<section class=" mt-1">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center h-100">
            
            <div class="col-lg-7 col-xl-6">
                <div class="card-body p-4 p-md-5">
                    <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2"></h3>

                    <form class="px-md-2" action="/admin/add-product" method="post" enctype="multipart/form-data">

                        <div class="form-outline mb-4">
                            <input type="text" id="form3Example1q" class="form-control" name="name" />
                            <label class="form-label" for="name">Name</label>
                        </div>
                        <div class="form-outline mb-4">
                            <input type="text" id="form3Example1q" class="form-control" name="category" />
                            <label class="form-label" for="category">Category</label>
                        </div>
                        <div class="form-outline mb-4">
                            <input type="text" id="form3Example1q" class="form-control" name="description" />
                            <label class="form-label" for="description">Description</label>
                        </div>
                        <div class="form-outline mb-4">
                            <input type="file" id="form3Example1q" class="form-control" name="image" />
                            <label class="form-label" for="image">image</label>
                        </div>
                        <div class="form-outline mb-4">
                            <input type="text" id="form3Example1q" class="form-control" name="rate" />
                            <label class="form-label" for="rate">rate</label>
                        </div>
                        <button type="submit" class="btn btn-success btn-lg mb-1">Submit</button>

                    </form>

                </div>
            </div>
            <div class="col-lg-5 mt-4">
            <img src="/images/add.png" style="height: 380px;width: 550px; ;" alt="">
            </div>
        </div>
    </div>

</section>